# This workflow will build the Wails project
# For more information see: https://wails.io/docs/guides/ci-cd

name: Build Wails Project

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
        cache: true

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18' # Use a recent LTS version of Node.js
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json

    - name: Install Windows dependencies
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: >-
          mingw-w64-x86_64-gcc
          
    - name: Install Wails
      run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

    - name: Install frontend dependencies
      working-directory: ./frontend
      run: npm ci

    - name: Lint frontend
      working-directory: ./frontend
      run: npm run lint

    - name: Check Wails setup
      run: wails doctor

    - name: Setup golangci-lint
      uses: golangci/golangci-lint-action@v8.0.0
      with:
        version: v2.5.0

    - name: Lint backend
      run: golangci-lint run

    - name: Test backend
      run: go test ./...

    - name: Build Wails application
      run: wails build -ldflags="-s -w"

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: based-app-windows
        path: build/bin/based-app.exe
